In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('stations.csv')

In [3]:
features = pd.DataFrame()

In [4]:
features['name'] = data['STN_NAME']

In [5]:
features['code'] = data['STN_NO']

In [6]:
features.head()

                         name  code
0           EUNOS MRT STATION   EW7
1  CHINESE GARDEN MRT STATION  EW25
2          KHATIB MRT STATION  NS14
3          KRANJI MRT STATION   NS7
4         REDHILL MRT STATION  EW18

In [7]:
features.shape

(171, 2)

In [8]:
rows_list = features.values
new_rows = []
for row in rows_list:
    codes = row[1].split('/')
    if len(codes) > 1:
        print(codes)
        row[1] = codes[0]
        for i in range(1, len(codes)):
            new_rows.append([row[0], codes[i]])

['EW8', 'CC9']
['EW2', 'DT32']
['CG1', 'DT35']
['EW24', 'NS1']
['NS9', 'TE2']
['EW21', 'CC22']
['CC10', 'DT26']
['EW13', 'NS25']
['NE1', 'CC29']
['EW12', 'DT14']
['NS22', 'TE14']
['DT16', 'CE1']
['CC17', 'TE9']
['NS27', 'TE20', 'CE2']
['NE4', 'DT19']
['NS24', 'NE6', 'CC1']
['NE12', 'CC13']
['NS17', 'CC15']
['NE7', 'DT12']
['DT10', 'TE11']
['CC4', 'DT15']
['CC19', 'DT9']
['EW14', 'NS26']
['NS21', 'DT11']

In [9]:
new_rows

[['PAYA LEBAR MRT STATION', 'CC9'],
 ['TAMPINES MRT STATION', 'DT32'],
 ['EXPO MRT STATION', 'DT35'],
 ['JURONG EAST MRT STATION', 'NS1'],
 ['WOODLANDS MRT STATION', 'TE2'],
 ['BUONA VISTA MRT STATION', 'CC22'],
 ['MACPHERSON MRT STATION', 'DT26'],
 ['CITY HALL MRT STATION', 'NS25'],
 ['HARBOURFRONT MRT STATION', 'CC29'],
 ['BUGIS MRT STATION', 'DT14'],
 ['ORCHARD MRT STATION', 'TE14'],
 ['BAYFRONT MRT STATION', 'CE1'],
 ['CALDECOTT MRT STATION', 'TE9'],
 ['MARINA BAY MRT STATION', 'TE20'],
 ['MARINA BAY MRT STATION', 'CE2'],
 ['CHINATOWN MRT STATION', 'DT19'],
 ['DHOBY GHAUT MRT STATION', 'NE6'],
 ['DHOBY GHAUT MRT STATION', 'CC1'],
 ['SERANGOON MRT STATION', 'CC13'],
 ['BISHAN MRT STATION', 'CC15'],
 ['LITTLE INDIA MRT STATION', 'DT12'],
 ['STEVENS MRT STATION', 'TE11'],
 ['PROMENADE MRT STATION', 'DT15'],
 ['BOTANIC GARDENS MRT STATION', 'DT9'],
 ['RAFFLES PLACE MRT STATION', 'NS26'],
 ['NEWTON MRT STATION', 'DT11']]

In [10]:
rows = rows_list.tolist()
for row in new_rows:
    rows.append(row)

In [11]:
df = pd.DataFrame(rows)

In [12]:
len(new_rows)

26

In [13]:
df.shape

(197, 2)

In [14]:
df['line'] = None

In [15]:
df['num'] = None

In [16]:
import re

In [17]:
pattern_digits = "[0-9]+"
pattern_capital = "[A-Z]+"

In [18]:
def extract_digits(code):
    result = re.findall(pattern_digits, code)
    if len(result) == 0:
        print("Problem: ", code)
        return None
    return result[0]

In [19]:
def extract_letters(code):
    result = re.findall(pattern_capital, code)
    return result[0]

In [20]:
df.head()

                            0     1  line   num
0           EUNOS MRT STATION   EW7  None  None
1  CHINESE GARDEN MRT STATION  EW25  None  None
2          KHATIB MRT STATION  NS14  None  None
3          KRANJI MRT STATION   NS7  None  None
4         REDHILL MRT STATION  EW18  None  None

In [25]:
df.rename(columns={0: 'name', 1: 'code'}, inplace=True)

In [26]:

df.head()

                         name  code  line   num
0           EUNOS MRT STATION   EW7  None  None
1  CHINESE GARDEN MRT STATION  EW25  None  None
2          KHATIB MRT STATION  NS14  None  None
3          KRANJI MRT STATION   NS7  None  None
4         REDHILL MRT STATION  EW18  None  None

In [27]:
df['line'] = df.apply(lambda x: extract_letters(x.code), axis=1)

In [28]:
df.head()

                         name  code line   num
0           EUNOS MRT STATION   EW7   EW  None
1  CHINESE GARDEN MRT STATION  EW25   EW  None
2          KHATIB MRT STATION  NS14   NS  None
3          KRANJI MRT STATION   NS7   NS  None
4         REDHILL MRT STATION  EW18   EW  None

In [29]:
df['num'] = df.apply(lambda x: extract_digits(x.code), axis=1)

Problem:  PTC
Problem:  STC

In [30]:
df.head()

                         name  code line num
0           EUNOS MRT STATION   EW7   EW   7
1  CHINESE GARDEN MRT STATION  EW25   EW  25
2          KHATIB MRT STATION  NS14   NS  14
3          KRANJI MRT STATION   NS7   NS   7
4         REDHILL MRT STATION  EW18   EW  18

In [31]:
df.shape

(197, 4)

In [32]:
df = df.dropna()

In [35]:
temp = df[~df.line.isin(['BP', 'SW', 'SE', 'PE', 'PW'])]

In [36]:
temp.shape

(155, 4)

In [37]:
for row in temp.values:
    print(row)

['EUNOS MRT STATION' 'EW7' 'EW' '7']
['CHINESE GARDEN MRT STATION' 'EW25' 'EW' '25']
['KHATIB MRT STATION' 'NS14' 'NS' '14']
['KRANJI MRT STATION' 'NS7' 'NS' '7']
['REDHILL MRT STATION' 'EW18' 'EW' '18']
['YEW TEE MRT STATION' 'NS5' 'NS' '5']
['PIONEER MRT STATION' 'EW28' 'EW' '28']
['COMMONWEALTH MRT STATION' 'EW20' 'EW' '20']
['PAYA LEBAR MRT STATION' 'EW8' 'EW' '8']
['SIMEI MRT STATION' 'EW3' 'EW' '3']
['TAMPINES MRT STATION' 'EW2' 'EW' '2']
['ADMIRALTY MRT STATION' 'NS10' 'NS' '10']
['YISHUN MRT STATION' 'NS13' 'NS' '13']
['PASIR RIS MRT STATION' 'EW1' 'EW' '1']
['CLEMENTI MRT STATION' 'EW23' 'EW' '23']
['ALJUNIED MRT STATION' 'EW9' 'EW' '9']
['ANG MO KIO MRT STATION' 'NS16' 'NS' '16']
['EXPO MRT STATION' 'CG1' 'CG' '1']
['CHOA CHU KANG MRT STATION' 'NS4' 'NS' '4']
['JURONG EAST MRT STATION' 'EW24' 'EW' '24']
['QUEENSTOWN MRT STATION' 'EW19' 'EW' '19']
['TUAS LINK MRT STATION' 'EW33' 'EW' '33']
['GUL CIRCLE MRT STATION' 'EW30' 'EW' '30']
['WOODLANDS MRT STATION' 'NS9' 'NS' '9']
['TUAS CRESCENT MRT STATION' 'EW31' 'EW' '31']
['KALLANG MRT STATION' 'EW10' 'EW' '10']
['TUAS WEST ROAD MRT STATION' 'EW32' 'EW' '32']
['BUONA VISTA MRT STATION' 'EW21' 'EW' '21']
['DOVER MRT STATION' 'EW22' 'EW' '22']
['SEMBAWANG MRT STATION' 'NS11' 'NS' '11']
['KEMBANGAN MRT STATION' 'EW6' 'EW' '6']
['BUKIT BATOK MRT STATION' 'NS2' 'NS' '2']
['BOON LAY MRT STATION' 'EW27' 'EW' '27']
['BUKIT GOMBAK MRT STATION' 'NS3' 'NS' '3']
['MARSILING MRT STATION' 'NS8' 'NS' '8']
['BEDOK MRT STATION' 'EW5' 'EW' '5']
['JOO KOON MRT STATION' 'EW29' 'EW' '29']
['LAKESIDE MRT STATION' 'EW26' 'EW' '26']
['TANAH MERAH MRT STATION' 'EW4' 'EW' '4']
['YIO CHU KANG MRT STATION' 'NS15' 'NS' '15']
['BRAS BASAH MRT STATION' 'CC2' 'CC' '2']
['MACPHERSON MRT STATION' 'CC10' 'CC' '10']
['CITY HALL MRT STATION' 'EW13' 'EW' '13']
['TAMPINES EAST MRT STATION' 'DT33' 'DT' '33']
['TAMPINES WEST MRT STATION' 'DT31' 'DT' '31']
['GEYLANG BAHRU MRT STATION' 'DT24' 'DT' '24']
['BENDEMEER MRT STATION' 'DT23' 'DT' '23']
['BENCOOLEN MRT STATION' 'DT21' 'DT' '21']
['HARBOURFRONT MRT STATION' 'NE1' 'NE' '1']
['KENT RIDGE MRT STATION' 'CC24' 'CC' '24']
['PUNGGOL MRT STATION' 'NE17' 'NE' '17']
['TANJONG PAGAR MRT STATION' 'EW15' 'EW' '15']
['ONE-NORTH MRT STATION' 'CC23' 'CC' '23']
['STADIUM MRT STATION' 'CC6' 'CC' '6']
['BUGIS MRT STATION' 'EW12' 'EW' '12']
['SOMERSET MRT STATION' 'NS23' 'NS' '23']
['ORCHARD MRT STATION' 'NS22' 'NS' '22']
['JALAN BESAR MRT STATION' 'DT22' 'DT' '22']
['BAYFRONT MRT STATION' 'DT16' 'DT' '16']
['SENGKANG MRT STATION' 'NE16' 'NE' '16']
['BUKIT BROWN MRT STATION' 'CC18' 'CC' '18']
['MOUNTBATTEN MRT STATION' 'CC7' 'CC' '7']
['KOVAN MRT STATION' 'NE13' 'NE' '13']
['FORT CANNING MRT STATION' 'DT20' 'DT' '20']
['FARRER ROAD MRT STATION' 'CC20' 'CC' '20']
['DOWNTOWN MRT STATION' 'DT17' 'DT' '17']
['ESPLANADE MRT STATION' 'CC3' 'CC' '3']
['NICOLL HIGHWAY MRT STATION' 'CC5' 'CC' '5']
['CALDECOTT MRT STATION' 'CC17' 'CC' '17']
['MARINA BAY MRT STATION' 'NS27' 'NS' '27']
['LABRADOR PARK MRT STATION' 'CC27' 'CC' '27']
['CHINATOWN MRT STATION' 'NE4' 'NE' '4']
['TAN KAH KEE MRT STATION' 'DT8' 'DT' '8']
['TIONG BAHRU MRT STATION' 'EW17' 'EW' '17']
['HILLVIEW MRT STATION' 'DT3' 'DT' '3']
['KING ALBERT PARK MRT STATION' 'DT6' 'DT' '6']
['MATTAR MRT STATION' 'DT25' 'DT' '25']
['UBI MRT STATION' 'DT27' 'DT' '27']
['BEAUTY WORLD MRT STATION' 'DT5' 'DT' '5']
['KAKI BUKIT MRT STATION' 'DT28' 'DT' '28']
['BEDOK NORTH MRT STATION' 'DT29' 'DT' '29']
['DHOBY GHAUT MRT STATION' 'NS24' 'NS' '24']
['WOODLEIGH MRT STATION' 'NE11' 'NE' '11']
['NOVENA MRT STATION' 'NS20' 'NS' '20']
['SERANGOON MRT STATION' 'NE12' 'NE' '12']
['BEDOK RESERVOIR MRT STATION' 'DT30' 'DT' '30']
['MARINA SOUTH PIER MRT STATION' 'NS28' 'NS' '28']
['FARRER PARK MRT STATION' 'NE8' 'NE' '8']
['BARTLEY MRT STATION' 'CC12' 'CC' '12']
['DAKOTA MRT STATION' 'CC8' 'CC' '8']
['PASIR PANJANG MRT STATION' 'CC26' 'CC' '26']
['CLARKE QUAY MRT STATION' 'NE5' 'NE' '5']
['BISHAN MRT STATION' 'NS17' 'NS' '17']
['MARYMOUNT MRT STATION' 'CC16' 'CC' '16']
['HAW PAR VILLA MRT STATION' 'CC25' 'CC' '25']
['LORONG CHUAN MRT STATION' 'CC14' 'CC' '14']
['LAVENDER MRT STATION' 'EW11' 'EW' '11']
['TAI SENG MRT STATION' 'CC11' 'CC' '11']
['ROCHOR MRT STATION' 'DT13' 'DT' '13']
['LITTLE INDIA MRT STATION' 'NE7' 'NE' '7']
['STEVENS MRT STATION' 'DT10' 'DT' '10']
['BUKIT PANJANG MRT STATION' 'DT1' 'DT' '1']
['CASHEW MRT STATION' 'DT2' 'DT' '2']
['SIXTH AVENUE MRT STATION' 'DT7' 'DT' '7']
['TOA PAYOH MRT STATION' 'NS19' 'NS' '19']
['WOODLANDS SOUTH MRT STATION' 'TE3' 'TE' '3']
['POTONG PASIR MRT STATION' 'NE10' 'NE' '10']
['HOUGANG MRT STATION' 'NE14' 'NE' '14']
['BOON KENG MRT STATION' 'NE9' 'NE' '9']
['UPPER CHANGI MRT STATION' 'DT34' 'DT' '34']
['CHANGI AIRPORT MRT STATION' 'CG2' 'CG' '2']
['BRADDELL MRT STATION' 'NS18' 'NS' '18']
['BUANGKOK MRT STATION' 'NE15' 'NE' '15']
['PROMENADE MRT STATION' 'CC4' 'CC' '4']
['BOTANIC GARDENS MRT STATION' 'CC19' 'CC' '19']
['RAFFLES PLACE MRT STATION' 'EW14' 'EW' '14']
['HOLLAND VILLAGE MRT STATION' 'CC21' 'CC' '21']
['OUTRAM PARK MRT STATION' 'EW16' 'EW' '16']
['TELOK BLANGAH MRT STATION' 'CC28' 'CC' '28']
['TELOK AYER MRT STATION' 'DT18' 'DT' '18']
['NEWTON MRT STATION' 'NS21' 'NS' '21']
['CANBERRA MRT STATION' 'NS12' 'NS' '12']
['WOODLANDS NORTH MRT STATION' 'TE1' 'TE' '1']
['HUME MRT STATION' 'DT4' 'DT' '4']
['SPRINGLEAF MRT STATION' 'TE4' 'TE' '4']
['LENTOR MRT STATION' 'TE5' 'TE' '5']
['MAYFLOWER MRT STATION' 'TE6' 'TE' '6']
['BRIGHT HILL MRT STATION' 'TE7' 'TE' '7']
['UPPER THOMSON MRT STATION' 'TE8' 'TE' '8']
['PAYA LEBAR MRT STATION' 'CC9' 'CC' '9']
['TAMPINES MRT STATION' 'DT32' 'DT' '32']
['EXPO MRT STATION' 'DT35' 'DT' '35']
['JURONG EAST MRT STATION' 'NS1' 'NS' '1']
['WOODLANDS MRT STATION' 'TE2' 'TE' '2']
['BUONA VISTA MRT STATION' 'CC22' 'CC' '22']
['MACPHERSON MRT STATION' 'DT26' 'DT' '26']
['CITY HALL MRT STATION' 'NS25' 'NS' '25']
['HARBOURFRONT MRT STATION' 'CC29' 'CC' '29']
['BUGIS MRT STATION' 'DT14' 'DT' '14']
['ORCHARD MRT STATION' 'TE14' 'TE' '14']
['BAYFRONT MRT STATION' 'CE1' 'CE' '1']
['CALDECOTT MRT STATION' 'TE9' 'TE' '9']
['MARINA BAY MRT STATION' 'TE20' 'TE' '20']
['MARINA BAY MRT STATION' 'CE2' 'CE' '2']
['CHINATOWN MRT STATION' 'DT19' 'DT' '19']
['DHOBY GHAUT MRT STATION' 'NE6' 'NE' '6']
['DHOBY GHAUT MRT STATION' 'CC1' 'CC' '1']
['SERANGOON MRT STATION' 'CC13' 'CC' '13']
['BISHAN MRT STATION' 'CC15' 'CC' '15']
['LITTLE INDIA MRT STATION' 'DT12' 'DT' '12']
['STEVENS MRT STATION' 'TE11' 'TE' '11']
['PROMENADE MRT STATION' 'DT15' 'DT' '15']
['BOTANIC GARDENS MRT STATION' 'DT9' 'DT' '9']
['RAFFLES PLACE MRT STATION' 'NS26' 'NS' '26']
['NEWTON MRT STATION' 'DT11' 'DT' '11']

In [38]:
df = df[~df.line.isin(['BP', 'SW', 'SE', 'PE', 'PW'])]

In [39]:
df.shape

(155, 4)

In [40]:
class Station:
    def __init__(self, name, code, line, num):
        self.name = name
        self.code = code
        self.line = line 
        self.num = num 
        self.edges = [] 

    def display(self):
        print(self.code, self.name, self.edges)

In [41]:
metro = {}

In [42]:
for row in df.values:
    s = Station(row[0], row[1], row[2], row[3])
    metro[row[1]] = s

In [43]:
df['num'] = pd.to_numeric(df['num'], downcast='integer')

In [44]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [name, code, line, num]
Index: []

In [45]:
df = df.sort_values(['line', 'num'], ascending=[True, True])

In [46]:
for row in df.values:
    if row[2] == 'CC':
        print(row)

['DHOBY GHAUT MRT STATION' 'CC1' 'CC' 1]
['BRAS BASAH MRT STATION' 'CC2' 'CC' 2]
['ESPLANADE MRT STATION' 'CC3' 'CC' 3]
['PROMENADE MRT STATION' 'CC4' 'CC' 4]
['NICOLL HIGHWAY MRT STATION' 'CC5' 'CC' 5]
['STADIUM MRT STATION' 'CC6' 'CC' 6]
['MOUNTBATTEN MRT STATION' 'CC7' 'CC' 7]
['DAKOTA MRT STATION' 'CC8' 'CC' 8]
['PAYA LEBAR MRT STATION' 'CC9' 'CC' 9]
['MACPHERSON MRT STATION' 'CC10' 'CC' 10]
['TAI SENG MRT STATION' 'CC11' 'CC' 11]
['BARTLEY MRT STATION' 'CC12' 'CC' 12]
['SERANGOON MRT STATION' 'CC13' 'CC' 13]
['LORONG CHUAN MRT STATION' 'CC14' 'CC' 14]
['BISHAN MRT STATION' 'CC15' 'CC' 15]
['MARYMOUNT MRT STATION' 'CC16' 'CC' 16]
['CALDECOTT MRT STATION' 'CC17' 'CC' 17]
['BUKIT BROWN MRT STATION' 'CC18' 'CC' 18]
['BOTANIC GARDENS MRT STATION' 'CC19' 'CC' 19]
['FARRER ROAD MRT STATION' 'CC20' 'CC' 20]
['HOLLAND VILLAGE MRT STATION' 'CC21' 'CC' 21]
['BUONA VISTA MRT STATION' 'CC22' 'CC' 22]
['ONE-NORTH MRT STATION' 'CC23' 'CC' 23]
['KENT RIDGE MRT STATION' 'CC24' 'CC' 24]
['HAW PAR VILLA MRT STATION' 'CC25' 'CC' 25]
['PASIR PANJANG MRT STATION' 'CC26' 'CC' 26]
['LABRADOR PARK MRT STATION' 'CC27' 'CC' 27]
['TELOK BLANGAH MRT STATION' 'CC28' 'CC' 28]
['HARBOURFRONT MRT STATION' 'CC29' 'CC' 29]

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155 entries, 188 to 184
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    155 non-null    object
 1   code    155 non-null    object
 2   line    155 non-null    object
 3   num     155 non-null    int8
dtypes: int8(1), object(3)
memory usage: 5.0+ KB

In [48]:
row_list = df.values
for i in range(len(row_list)-1):
    current = row_list[i]
    next_row = row_list[i+1]
    if current[2] == next_row[2]:
        if next_row[3] - current[3] == 1:
            metro[current[1]].edges.append(next_row[1])
            metro[next_row[1]].edges.append(current[1])

In [49]:
metro['DT11'].display()

DT11 NEWTON MRT STATION ['DT10', 'DT12']

In [50]:
df = df.sort_values(['name'], ascending=[True])

In [51]:
df.head()

                       name  code line  num
11    ADMIRALTY MRT STATION  NS10   NS   10
15     ALJUNIED MRT STATION   EW9   EW    9
16   ANG MO KIO MRT STATION  NS16   NS   16
130     BARTLEY MRT STATION  CC12   CC   12
182    BAYFRONT MRT STATION   CE1   CE    1

In [52]:
processed = [] 
for row in df.values:
    duplicates = df[df.name == row[0]]
    if len(duplicates) > 1 and row[0] not in processed:
        processed.append(row[0])
        rows = duplicates.values
        for i in range(len(duplicates)):
            for j in range(i+1, len(duplicates)):
                metro[rows[i][1]].edges.append(rows[j][1])
                metro[rows[j][1]].edges.append(rows[i][1])

In [53]:
metro['CC1'].display()

CC1 DHOBY GHAUT MRT STATION ['CC2', 'NE6', 'NS24']

In [54]:
metro['NS24'].display()

NS24 DHOBY GHAUT MRT STATION ['NS23', 'NS25', 'CC1', 'NE6']

In [55]:
metro['NE6'].display()

NE6 DHOBY GHAUT MRT STATION ['NE5', 'NE7', 'CC1', 'NS24']

In [56]:
df.to_csv('processed_stations.csv', index=False)